html{
    font-size:2vmin;
}

main{
    height:100vw;
    width:100vw;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#header-image {
    margin-top: 20vh;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

