html{
    font-size:2vmin;
    font-family: "Roboto Slab", Georgia, serif;
}
body {
    margin: 0;
    width:100vw;
}

.projContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projects{
    border: 2px solid black;
    border-radius: 2%;
    width: 45%;
    height: 45vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2vmin;
    background-image: url('images/project1.jpg');
    background-size: cover;
}

.projects{
    color:white;
    font-size:3rem;
    text-shadow: 2px 2px 4px black;
}

.projects:hover {
    opacity: 0.35
}


#portfolio {
    display: flex;
    justify-content: center;
}

.portSection{
    text-align:center;
    background-color: rgb(91, 72, 77);
    padding: 9vh 0;

}

.portSection > h1::after {
    content: '';
    display: block;
    width: 20%;
    border-bottom: 3px solid black;
    margin: 10px auto 0;
}
#intro {
    padding-top:16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    background-image: url("hackathon1_Assets/hackathonBackground.jpg");
    background-size:cover;
}

#header-image {
    height: 50vmin;
    width: 50vmin;
    opacity:.6;
    border-radius: 50%;
}

#intro > h1::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px solid black;
    margin: 10px auto 0;
}

#intro > h2 {
    margin-top: 0;
}

#logo {
    height: 10vmin;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    background-color: rgb(30, 29, 29);
    z-index: 1;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1vw 5vw;
}

.nav-items li {
    padding-right: 4vw;
}
.nav-items li a{
    color:white;
}
.nav-link{
    margin: 0px 2vmin;
}
.nav-link li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

#about{
    padding:10vh;
    text-align:center;
    background-color: #F5A503;
}

#about img{
    border-radius: 5%;
    width: 16vmin;
    vertical-align: middle;
    margin: 2vmin;
    padding: 2vmin;
    background-color: white;
}

#about h3{
    margin-top:8vh;
}

.icons > h3::after {
    content: '';
    display: block;
    width: 53%;
    border-bottom: 2px solid black;
    margin: 10px auto 0;
}

.tools > h3::after {
    content: '';
    display: block;
    width: 33%;
    border-bottom: 2px solid black;
    margin: 10px auto 0;
}

.icons > h3.tools::after {
    content: '';
    display: block;
    width: 27%;
    border-bottom: 2px solid black;
    margin: 10px auto 0;
}

#portfolio_links{
    display:inline;
}

.hr::after {
    content:'';
    display:block;
    width:26%;
    border-bottom: 3px solid black;
    margin: 0 auto;
}

.social-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 29, 29);
    color:white;
}
.social-button {
    text-align: center;
}
.social-button > ul {
    display: flex;
    padding: 0;
}

#portfolio_links button {
    background-color: rgba(16, 18, 20, 0.8);
    border: none;
    color: white;
    padding: 2vmin 4vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vmin;
    border-radius:3%;
}

.social-button li {
    width: 5vh;
    height: 5vh;
    margin: 0 2vw;
    list-style-type: none;
}
a{
    color:white;
    display:inline;
}