html{
    font-size:2vmin;
    font-family: "Roboto Slab", Georgia, serif;
}

main{
    width:100vw;
}

.projContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projects{
    border: 2px solid black;
    border-radius: 2%;
    width: 45%;
    height: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-image: url('images/project1.jpg');
    background-size: cover;
}

.projects h3 {
    color:white;
    font-size:3rem;
    text-shadow: 2px 2px 4px #000000;
}

.projects:hover {
    opacity: 0.35
}


#portfolio {
    display: flex;
    justify-content: center;
}

.portSection {
    text-align: center;
    background-color: rgb(91, 72, 77);
    padding-top: 2%;
    padding-bottom: 7%;
}

.portSection > h1::after {
    content: '';
    display: block;
    width: 20%;
    border-bottom: 2px solid black;
    margin: 10px auto 0;
}
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #600080;
}

#header-image {
    margin-top: 16vh;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

#intro > h1::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 2px solid black;
    margin: 10px auto 0;
}

#intro > h2 {
    margin-top: 0;
}

#logo {
    height: 10vh;
    width: 10vh;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    background-color: rgb(30, 29, 29);
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1vw 5vw;
}

.nav-items li {
    padding-right: 4vw;
}
.nav-items li a{
    color:white;
}
.nav-link{
    margin: 0px 10px;


}
.nav-link li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

#about{
    padding:3% 2%;
    text-align:center;
    background-color: #F5A503;
}

body {
    margin: 0;
}

#about img{
    border-radius: 5%;
    width: 15%;
    height: auto;
    vertical-align: middle;
    margin: 1.5%;
    padding: 1.5%;
    background-color: white;
}

#about > h1::after {
    content: '';
    display: block;
    width: 22%;
    border-bottom: 2px solid black;
    margin: 10px auto 0;
}

#about-content .icons {
    margin: 90px 0;
    font-size: 0;
}

#about h3{
    margin-top:50px;
}

.icons > h3::after {
    content: '';
    display: block;
    width: 43%;
    border-bottom: 2px solid black;
    margin: 10px auto 0;
}

.icons > h3.tools::after {
    content: '';
    display: block;
    width: 27%;
    border-bottom: 2px solid black;
    margin: 10px auto 0;
}

#portfolio_links{
    display:inline;
}

hr {
    border: 0;
    border-top: 3px solid black;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}


.social-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 29, 29);
    color:white;
}
.social-button {
    text-align: center;
}
.social-button > ul {
    display: flex;
    padding: 0;
}

#portfolio_links button {
    background-color: rgba(16, 18, 20, 0.8);
    border: none;
    color: white;
    padding: 1.5% 3.2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:3%;
}

.social-button li {
    width: 5vh;
    height: 5vh;
    margin: 0 2vw;
    list-style-type: none;
}
